<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <title>Nox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body onload="time()">


<div class="container">

<h1 class="welcome">Welcome, {{username}}</h1>

<h1 id="time"></h1>

<h1 id="weather"></h1>

<div class="friends">


<h1>FRIENDS</h1>

<form class="search-wrapper" onsubmit="searchUser()">

<img src="../static/svg/search.svg" class="search-icon"/>

<input placeholder="Search username..."></input>

</form>
<div class="outlinebar"></div>





</div>


</div>
<script src="{{ url_for('static', filename='scripts/time.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/weather.js') }}"></script>





<div class="item-container">



<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
<div class="icon"></div>
</div>



    
</body>
</html>